* {
  padding: 0;
  margin: 0;
  font-family: 'Gotham', sans-serif;
  color: white;
}
body {
  background-color: #121212;
}

/* all page */
.main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
}

/* search input */
.search {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search h1 {
  justify-content: flex-start;
  margin-top: 2.4rem;
}

.search .input {
  width: 400px;
  height: 50px;
  border-radius: 10px;
  border: none;
  border: 3px solid white;
  padding-left: 1rem;
  color: #181818;
  font-size: 1.1rem;
}
.search .input:focus {
  outline: none;
}

::placeholder {
  font-size: 1rem;
  color: #272626;
}

/* chards */
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.7rem;
  margin-top: 2rem;
}

.card {
  width: 200px;
  height: 250px;
  background-color: #181818;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0px 20px 0px;
  border-radius: 0.6rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.card:hover {
  background-color: #272626;
}

.card img {
  width: 90%;
  border-radius: 50%;
  object-fit: cover;
}
.details {
  align-self: flex-start;
  margin-left: 10%;
  margin-top: 1.2rem;
}

.btn {
  text-decoration: none;
  display: block;
  margin-top: 1.6rem;
  padding: 0.8rem;
  width: 25px;
  font-size: 1.2rem;
  text-align: center;
  background-color: green;
  border-radius: 50%;
  color: black;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}

.card:hover .btn {
  opacity: 1;
  pointer-events: all;
  transform: translateY(-10px);
}

.btn:hover {
  background-color: rgb(3, 156, 3);
  color: white;
}

.details .song-name {
  font-size: 1.2rem;
  font-weight: bolder;
}
.details .artist-name {
  font-size: 1rem;
  font-weight: bold;
  color: rgba(110, 103, 103, 0.664);
}

.details p:hover {
  cursor: pointer;
  text-decoration: underline;
}
